<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="doctor">
    
 
  <!-- 김다유 : 의사프로필 -->
  <select id="doctor_profile" parameterType="doctorDTO" resultType="doctorDTO">
  	select * from dl_doctor where doctor_num=1
  </select>
  
<!-- <update id="doctor_profile_update" parameterType="doctorDTO" >
  insert into dl_doctor values (doctor_num.nextval, 'doctor_test3', '1111', '의사3', '1234561234567', '01000001111', '서울시금천구가산동', 'asd123@naver.com', #{d_graduation},'경력','전공의','',sysdate,'20');
  </update> -->

   <!-- 의료진소개 -->
    <select id="getSearch" resultType="SearchDTO">
		SELECT * FROM SEARCH
	</select>
  
  <insert id="add" parameterType="doctorDTO">
  	insert into member_aop values(MEMBER_AOP_SEQ.nextval, #{id}, #{pwd}, #{name}, sysdate);
  </insert>
   
  <select id="idChk" parameterType="String" resultType="int">
  	select count(*) cnt from member_aop where id=#{id}
  </select>
  
  <!-- login -->
  <select id="loginchk" parameterType="doctorDTO" resultType="doctorDTO">
  	select id, name from member_aop where id=#{id} and pwd=#{pwd}
  </select>
  
  <select id="getDoctor" parameterType="doctorDTO" resultType="doctorDTO">
  	select id, name from member_aop where id=#{did} and pwd=#{dpwd}
  </select>
 
  <!-- resultMap -->
	<resultMap type="patientDTO" id="patientResult">
		<id property="patient_num" column="patient_num" javaType="int"/>
		<result property="p_name" column="p_name"/>
		<result property="bloodtype" column="bloodtype"/>
		<result property="allergy" column="allergy"/>
		<result property="p_photo" column="p_photo"/>
		<result property="p_gender" column="p_gender"/>
		<result property="p_jumin_num" column="p_jumin_num"/>
		<result property="p_address" column="p_address"/>
		<result property="p_email" column="p_email"/>
		<result property="p_phone_num" column="p_phone_num"/>
	</resultMap>
	
	<resultMap type="doctorDTO" id="doctorResult">
		<id property="doctor_num" column="doctor_num" javaType="int"/>
		<result property="d_name" column="d_name"/>
		<result property="d_jumin_num" column="d_jumin_num"/>
		<result property="d_phone_num" column="d_phone_num"/>
		<result property="d_email" column="d_email"/>
		<result property="d_gender" column="d_gender"/>
	</resultMap>
	
	<resultMap type="departmentDTO" id="departResult">
		<id property="dep_num" column="dep_num" javaType="int"/>
		<result property="dep_name" column="dep_name"/>
	</resultMap>
	
	<resultMap type="treatRecordDTO" id="treatResult">
		<id property="treatment_num" column="treatment_num" javaType="int"/>
		<result property="patient_num" column="patient_num"/>
		<result property="doctor_num" column="doctor_num"/>
		<result property="appoint_num" column="appoint_num"/>
		<result property="monitoring_time" column="monitoring_time"/>
		<result property="start_treatment_time" column="start_treatment_time"/>
	</resultMap>
	
	<resultMap type="appointmentDTO" id="d_dash_board">
		<id property="appoint_num" column="appoint_num" javaType="int"/>
		<result property="appointment_time" column="appointment_time"/>
		<result property="patient_num" column="patient_num"/>
		<result property="doctor_num" column="doctor_num"/>
		<result property="dep_num" column="dep_num"/>
		<result property="reg_time" column="reg_time"/>
		<result property="total_cnt" column="total_cnt"/>
		
		<collection property="patients" javaType="java.util.List" resultMap="patientResult" ofType="patientDTO"/>
	</resultMap>
  <!-- resultMap 끝-->
  
  <!-- doctor_dashboard 로 갈 때 필요한 데이터들 -->
  
  <select id="dash_total_cnt" parameterType="int" resultType="appointmentDTO">
  select doctor_num,
( select count(*) from appointment where to_date( substr(appointment_time, 1, 8), 'YYYYMMDD' ) = to_date(to_char(sysdate, 'YYYYMMDD')) ) today_cnt,
( select count(*) from appointment where to_date( substr(appointment_time, 1, 8), 'YYYYMMDD' ) = to_date(to_char(sysdate, 'YYYYMMDD'))+1 )  tomo_cnt, 
( select count(*) from appointment where doctor_num = #{doctor_num} ) total_cnt from appointment where doctor_num = #{doctor_num} group by doctor_num
  </select>
  
  <select id="getAP_num" resultType="treatRecordDTO">
  select appoint_num from treatment_record where appoint_num in 
  ( select appoint_num from appointment where to_date(substr(appointment_time, 1, 8), 'YYYYMMDD') = to_date(to_char(sysdate, 'YYYYMMDD')) )
  </select>
  
  <select id="get_dashList" parameterType="int" resultMap="d_dash_board">

select  p.patient_num patient_num, p.p_name p_name, p.p_address p_address, p.p_email p_email, p.allergy allergy,
        p.p_phone_num p_phone_num, p.p_gender p_gender, am.appointment_time appointment_time, am.appoint_num appoint_num
from dl_user p, appointment am
where p.patient_num = am.patient_num and am.doctor_num = #{doctor_num} and 
	<![CDATA[
to_date(substr(am.appointment_time, 1, 8), 'YYYYMMDD') >= to_date(to_char(sysdate, 'YYYYMMDD')) and 
to_date(substr(am.appointment_time, 1, 8), 'YYYYMMDD') <= to_date(to_char(sysdate, 'YYYYMMDD')+1)
	]]>
order by am.appointment_time

</select>	

<resultMap type="appointmentDTO" id="apListResult">
	<id property="doctor_num" column="doctor_num" javaType="int"/>
	<result property="appointment_time" column="appointment_time"/>
	<result property="reg_time" column="reg_time"/>
	
	<collection property="patients" javaType="java.util.List" resultMap="patientResult" ofType="patientDTO"/>
	<collection property="departments" javaType="java.util.List" resultMap="departResult" ofType="departmentDTO"/>
</resultMap> 

<select id="getApList" parameterType="int" resultMap="d_dash_board">

<!-- select dep.dep_name dep_name, p.patient_num patient_num, p.p_name p_name, p.p_address p_address, p.p_email p_email, p.allergy allergy,
        p.p_phone_num p_phone_num, p.p_gender p_gender, am.appointment_time appointment_time, am.appoint_num appoint_num
from dl_user p, department dep, appointment am
where p.patient_num = am.patient_num and dep.dep_num = am.dep_num and am.doctor_num = #{doctor_num} and 
to_date(substr(am.appointment_time, 1, 8), 'YYYYMMDD') = to_date(to_char(sysdate, 'YYYYMMDD'))
order by am.appointment_time -->

select rownum, a.* from (
select p.p_name p_name, p.p_address p_address, p.p_email p_email, am.appoint_num appoint_num,
        p.p_phone_num p_phone_num, p.p_gender p_gender, am.appointment_time appointment_time, 
( select count(*) from appointment where to_date( substr(appointment_time, 1, 8), 'YYYYMMDD' ) >= to_date(to_char(sysdate, 'YYYYMMDD')) ) total_cnt
from dl_user p, appointment am
where p.patient_num = am.patient_num and am.doctor_num = #{doctor_num} and 
<![CDATA[
to_date(substr(am.appointment_time, 1, 8), 'YYYYMMDD') >= to_date(to_char(sysdate, 'YYYYMMDD'))
]]>
order by am.appointment_time ) a
where rownum between #{start} and #{end}


</select>	  
  
  </mapper>