<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="doctor">

	<insert id="add" parameterType="doctorDTO">
		insert into member_aop values(MEMBER_AOP_SEQ.nextval, #{id}, #{pwd},
		#{name}, sysdate);
	</insert>

	<select id="idChk" parameterType="String" resultType="int">
		select count(*) cnt from member_aop where id=#{id}
	</select>

	<!-- login -->
	<select id="loginchk" parameterType="doctorDTO"
		resultType="doctorDTO">
		select id, name from member_aop where id=#{id} and pwd=#{pwd}
	</select>

	<select id="getDoctor" parameterType="doctorDTO"
		resultType="doctorDTO">
		select id, name from member_aop where id=#{did} and pwd=#{dpwd}
	</select>

	<!-- select count(*) cnt, id, name from member_aop where id=#{id} group 
		by name -->



	<!-- 의사프로필 -->
	<select id="doctor_profile" resultType="doctorDTO" parameterType="int">
		select * from dl_doctor where doctor_num=#{doctor_num}
	</select>

	<!-- 의료진소개 -->
	<select id="getSearch" resultType="SearchDTO">
		SELECT * FROM dl_doctor order
		by d_name desc
	</select>

	<!-- 의료진소개 페이징처리 -->
	<select id="list" resultType="SearchDTO" parameterType="PageDTO">
		select * from (
		select rownum r_num, d.* from
		(
		select * from dl_doctor order by dep_num desc
		) d
		) where r_num between #{start} and #{end}
	</select>

	<select id="totalCount" resultType="int">
		select count(*) cnt from dl_doctor
	</select>

	<!-- 의료진소개 필터링 -->
	<select id="list" resultType="SearchDTO" parameterType="PageDTO">
		select * from (
		select rownum r_num, d.* from
		)
		select * from dl_doctor order by dep_num asc
		)d
		)

		<if test="searchType != null">
			<where>
				<choose>
					<when test="searchType == 1">
						dep_num = #{searchValue}
					</when>
					<when test="searchType == 2">
						d_name like '%'|| #{searchValue} ||'%'
					</when>
				</choose>
			</where>
		</if>
		order by num desc
		) a
		) where r_num between #{start} and #{end}
	</select>


</mapper>